---
import Scaleway from "../assets/sponsors/scaleway.png";
import Lavatech from "../assets/sponsors/lavatech.png";
import Dropbox from "../assets/sponsors/dropbox.png";
import { Image } from "astro:assets";
interface Sponsor {
  name: string;
  img: ImageMetadata;
  size?: "large";
}
const sponsors: Sponsor[] = [
  {
    name: "Scaleway Sponsor",
    img: Scaleway,
  },
  {
    name: "Lavatech Sponsor",
    img: Lavatech,
  },
  {
    name: "Dropbox Sponsor",
    img: Dropbox,
  },
];
---

<section>
  {
    sponsors.map((sponsor) => (
      <a class={sponsor.size ?? ""}>
        <article>
          <h4>{sponsor.name}</h4>
          <Image
            height={sponsor.size === "large" ? 100 : 50}
            src={sponsor.img}
            alt={sponsor.name}
          />
        </article>
      </a>
    ))
  }
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.75rem;
    overflow: hidden;
    gap: 0.25rem;
    width: 100%;
    margin-top: 1rem;
  }
  a {
    width: 34%;
    flex-grow: 1;
  }
  a.large {
    width: 100%;
  }
  article {
    display: flex;
    background-color: var(--sl-color-gray-6);
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
  }
  article:hover {
    filter: brightness(1.1);
    transition: all 0.2s ease-in-out;
  }
  h4 {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
  }
  :root[data-theme="dark"] article :global(img) {
    filter: grayscale(1) invert(1) !important;
  }
</style>
